{{#show}}

<div class="pagination-container">
  <ul class="pagination" data-pagination-id="{{id}}">
    <li class="{{when prev_disabled then="disabled"}}"><a href="#" class="prev">«</a></li>
    {{#each pages}}
      {{#if gap}}
    	  <li class="inner gap"><span>...</span></li>
      {{else}}
        <li class="inner {{active_class_if ../current_page page}}"><a href="#">{{page}}</a></li>
      {{/if}}
    {{/each}}

    <li class="{{when next_disabled then="disabled"}}"><a href="#" class="next">»</a></li>
  </ul>
</div>

{{/show}}
